<!DOCTYPE html>
<html lang="en">
​
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
  <title>Meteorite Demographics</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>body {background-color: #84d6c2;height: 100%;}</style>
</head>
​
<body>
​<!-- Links (sit on top) -->
<div class="w3-top">
  <div class="w3-row w3-padding w3-black">
    <div class="w3-col s3">
      <a href="http://127.0.0.1:5000/" class="w3-button w3-block w3-black">HOME</a>
    </div>
    <div class="w3-col s3">
      <a href="https://data.nasa.gov/Space-Science/Meteorite-Landings/gh4g-9sfh" class="w3-button w3-block w3-black">OG DATA</a>
    </div>
    <div class="w3-col s3">
      <a href="need link to demo/bubbles page" class="w3-button w3-block w3-black">THE DASH</a>
    </div>
    <div class="w3-col s3">
      <a href="http://127.0.0.1:5000/map" class="w3-button w3-block w3-black">THE MAP</a>
    </div>
  </div>
</div>
  <div class="container black">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Meteorite Demographics
        </h1>
        <p>Looking to learn more about a specific Meteorite?</p>
        <p>Use the dropdown menu to see information about the selected meteorite!</p>
      </div>
    </div>
    <div class="row">
​
      <div class="col-sm-3 col-sm-offset-4">
        
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Select Meteorite</h3>
          </div>
          
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
          
          <div id="mass-metadata" class="panel-body"></div>
        </div>
      </div>
    </div>
  </div>
​
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="/static/js/plots.js"></script>
​
​
</body>
​
</html>
Collapse